SECRET_KEY=
HASHING_ALGORITHM=HS256
POSTGRES_DATABASE_URL=postgresql://postgres:CuSKjwtVZwSChasgnJXlZaxsqwDGZpnA@postgres.railway.internal:5432/railway
MQTT_BROKER=autorack.proxy.rlwy.net
MQTT_PORT=35238
 